* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
button {
  padding: 0;
  margin: 0;
}
#ghost-div {
  display: none;
}
.layout nav {
  width: 100%;
  height: 10%;
  background-color: #3b95d7;
}
.navbar-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100px;
  letter-spacing: 0.1em;
  margin-left: 3%;
  color: white;
}
.layout aside {
  width: 30%;
  height: 100%;
  overflow: scroll;
  background: rgba(59, 149, 215, 0.15);
  padding: 10px;
}
.layout main {
  width: 70%;
  height: 100%;
}
.layout .main-body {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}
/* #add-member-container-1024 {
  display: none;
} */
#footer-1024 {
  display: none;
}
/* #edit-member-container-1024 {
  display: none;
} */
#edit-footer-1024 {
  display: none;
}
/*------------CARDS-------------*/
#aside-bar .member-card {
  margin-bottom: 2%;
}
#add-member-container-top {
  display: flex;
  justify-content: space-between;
}
#add-title {
  width: 35%;
}
#user-saved-toast,
#error-toast {
  width: 65%;
  background: #48b791;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#error-mark {
  font-family: monospace;
  color: #dd482d;
  font-size: 20px;
}
#error-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
#saved-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
#save-check-circle,
#error-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  margin: 0 8px 0 5px;
}
#save-tick-mark {
  transform: rotate(40deg);
  height: 15px;
  width: 10px;
  border-bottom: 4px solid #48b791;
  border-right: 4px solid #48b791;
}
#member-card-top {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
}
#member-card-bot {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 30%;
}
.edit-button,
.delete-button {
  width: 22%;
  height: 70%;
  margin-right: 5%;
  background: #d9d9d9;
  border: 1px solid #767373;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.delete-button {
  color: white;
  background: #dd5a5a;
}
.profile-picture,
.card-info {
  margin: 2% 0 0 2%;
}
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 67px;
  min-width: 67px;
  background-color: #bbb;
  border-radius: 40px;
}
.profile-picture-text {
  align-self: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}
#card-info-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.card-info-id,
.card-info-email {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.member-card {
  height: 15%;
  width: 90%;
  margin: 0 auto;
  background: rgba(86, 92, 78, 0.1);
  border: 0.5px solid #565c4e;
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content > div,
footer {
  margin-top: 10px;
}
#add-member-container {
  width: 97%;
  height: 45%;
  background: #d9d9d9;
}
#add-member-container-content {
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 40px;
}
#add-title,
#edit-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #3b95d7;
}
.first-name,
.last-name,
.address,
.zip-code,
.city,
.country,
.gender,
.age,
.activity-class {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #666363;
}
.first-row,
.second-row,
.third-row,
.fourth-row {
  display: flex;
  margin-top: 1%;
}

.first-row div,
.second-row div,
.third-row div {
  margin-right: 20px;
}

.first-name-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100px;
  max-width: 199px;
}
.last-name-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100px;
  max-width: 199px;
}
.first-name-wrapper input,
.last-name-wrapper input,
.address-wrapper input,
.zip-code-wrapper input,
.city-wrapper input,
.country-wrapper input,
.gender-wrapper select,
.age-wrapper input,
.activity-class-wrapper input {
  border: 0;
  height: 32px;
}
.activity-class-wrapper .activity-class-buttons {
  height: 32px;
  background-color: white;
}
.activity-class-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity-class-buttons input {
  width: 8px;
  height: 8px;
  background: #3b95d7;
}
.activity-class-professional,
.activity-class-amateur {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #3b95d7;
}
.activity-class-professional {
  padding-left: 5%;
}
.activity-class-amateur {
  padding-right: 5%;
}
.address-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  max-width: 380px;
}
.city-wrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 199px;
}
.zip-code-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 116px;
}
.country-wrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 199px;
}
.gender-wrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 199px;
}
.age-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 116px;
}
.activity-class-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  max-width: 331px;
}
.practiced-sports-wrapper {
  display: flex;
  flex: 2;
  max-width: 688px;
  height: 110px;
  border: 1px solid #3b95d7;
  border-radius: 15px;
}
.practiced-sports {
  width: 100%;
  padding: 5px 10px 5px 10px;
}
.practiced-sports input {
  width: 9px;
  height: 9px;
  background: #d9d9d9;
  border: 1px solid #3b95d7;
}
.practiced-sports > div:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #666363;
}
.sports {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  padding-top: 3px;
}
.sports > div {
  margin-right: 3%;
}
.add-sport,
.edit-sport {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #3b95d7;
}

input[type="checkbox"] {
  /*TO BE CHANGED, MUST CREATE CHECKBOX STYLING*/
}
.save-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  flex: 1;
}
.save-button,
.back-button {
  min-width: 158px;
  height: 30px;
  background: #3b95d7;
  border: 1px solid #686868;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}
.delete-modal {
  display: none;
}
#delete-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#delete-modal-box {
  width: 442px;
  height: 229px;
  background: #d9d9d9;
  border: 1px solid #3b95d7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
#modal-header {
  width: 100%;
  height: 20%;
  background: #3b95d7;
  display: flex;
  justify-content: start;
  padding: 5px 0 0 15px;
}
#modal-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}
#modal-content {
  width: 100%;
  height: 60%;
  background: #d9d9d9;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}
#modal-footer {
  width: 100%;
  height: 20%;
  background: #d9d9d9;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}
#modal-footer button {
  height: 30px;
  width: 117px;
  border: 1px solid #686868;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 15px;
}
#modal-yes-button {
  background: #3b95d7;
}
#modal-no-button {
  background: #dd482d;
}
hr {
  border: 1px solid #000000;
}
#edit-member-container {
  width: 97%;
  height: 45%;
  background: #d9d9d9;
}
#edit-member-container-top {
  display: flex;
}
#edit-title {
  width: 35%;
}
#error-toast {
  width: 65%;
  background: #dd482d;
}
#error-toast-mark {
  display: flex;
}

footer {
  width: 97%;
  height: 10%;
  background: #3b95d7;
}

#footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
}

ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
}
li {
  float: left;
}


@media only screen and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  html {
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  button {
    padding: 0;
    margin: 0;
  }
  #ghost-div {
    display: none;
  }
  .layout nav {
    width: 100%;
    height: 10%;
    background-color: #3b95d7;
  }
  .layout main {
    width: 60%;
  }
  .layout aside {
    width: 40%;
  }
  #add-member-container-1024, #edit-member-container-1024 {
    width: 97%;
    height: 100%;
    display: block;
    background: #d9d9d9;
  }
  #add-member-container-top {
    width: 100%;
    display: flex;
  }
  #add-title {
    width: 100%;
  }
  #first-row-1024 {
    display: flex;
    margin-top: 1%;
  }
  #second-row-1024 {
    width: 100%;
  }
  #third-row-1024 {
    display: flex;
  }
  #fourth-row-1024 {
    display: flex;
  }
  #first-row-1024,
  #second-row-1024,
  #third-row-1024,
  #fourth-row-1024,
  #fifth-row-1024,
  #sixth-row-1024,
  #seventh-row-1024,
  #eight-row-1024 {
    display: flex;
    margin-top: 6%;
  }
  .first-name-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 47%;
    min-width: 25%;
    margin-right: 6%;
  }
  .last-name-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 47%;
    min-width: 25%;
  }
  .address-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
  }
  .zip-code-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 25%;
  }
  .city-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
    max-width: 70%;
    margin-right: 5%;
  }
  .country-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
    max-width: 40%;
    margin-right: 7%;
  }
  .age-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 20%;
  }
  .gender-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 40%;
  }
 
  #back-button {
    display: none;
  }
  footer {
    display: none;
  }
  #footer-1024 {
    display: block;
  }
  #footer-first-column {
    display: flex;
    flex-direction: column;
    padding: 0 15% 0 5%;
  }
  #footer-second-column {
    display: flex;
    flex-direction: column;
  }
  #footer-recent-news, #footer-services {
    padding-bottom: 10%;
  }
  #footer-info {
    color: white;
    height: 100%;
    width: 100%;
  }
  
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  li {
    float: left;
  }
  /*
  #add-member-container {
    display: none;
  }
  #edit-member-container {
    display: none;
  }
  #add-member-container-1024 {
    display: none;
  }
  #edit-member-container-1024 {
    display: block;
  }
  */
  #back-button {
    display: block;
  }
  #back-button-1024 {
    display: block;
  }
}